/* 
    Document   : jensbodal.com
    Created on : Nov 14, 2013, 1:17:11 PM
    Author     : jensb
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

a:link, a:visited 
	{
	color: maroon;
	text-decoration: none
	}

a:hover 
	{
	color: red;
	text-decoration: none
	}

#main{
	height: 100%;
	width: 100%;
	display: table;
}

#middle, #footer{
	text-align: center;
	font-family: tahoma;
	font-size: 25px;
}

#top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	text-align: center;
	background: grey;
}
#middle{
	valign: middle;
	vertical-align: middle;
	display: table-cell;
}

#footer{
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
	display: block
}
